.profile-pic{
    width:90px;
    height:90px;
}

.title{
    margin: 0 auto;
    width: 45%;
    margin-bottom: 1%;
    font-weight: bold;
}

.profile-data{
    max-width: 30%;
}

.profiles-container{
    width: 50%;
    height: 21%;
}

.profile{
    margin-left: 15px;
    width: 62%;
    margin: 0 auto;
    background-color: white;
    padding: 5px;
    margin-bottom: 1%;
    box-shadow: 0px 2px 8px grey;
}

.border-style{
    border-radius: 3px;
    border-top: 3px #007bff solid;
}

.view-profile a{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.view-btn{
    height: 30px;
    width: 150px;
    text-align: center;
    border-radius: 7px;
    color: white;
}



.bio{
    padding-top: 25px;
}

.name{
    font-weight: bold;
    text-transform: capitalize;
}