.layout {
    padding-top: 30px;
    padding-bottom:30px;
    background-color: white;
    border-radius: 5px;
    border-top-color: #0080ff;
    box-shadow: 0px 2px 8px grey;
}

.prof_pic {
    height: 150px;
    width: 150px;
}

.border-style {
    border-radius: 3px;
    border-top: 3px #007bff solid;
}

.bio {
    padding-top: 25px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  width: 47%;
}

.pos_title {
  padding-left: 75px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
  width: 47%;
}

h2{
  font-weight: bold;
}
