{% extends 'base.html' %}

{% block title %}Project1{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/profiles.css') }}" rel="stylesheet">
{% endblock %}

{% include 'flash_messages.html' %}

{% block main %}

    <h1 class="title">Profiles</h1>
        {% for profile in profiles %}
            <div class="row border-style center profile profiles-container">
                <image src="{{ url_for('static', filename='uploads/'+profile.filename) }}" class="profile-pic"/>
                    <div class="col profile-data">
                        <span class="name">{{profile.firstname}} {{profile.lastname}}</span><br>
                        <span><i class="fa fa-street-view"></i>{{profile.gender}}</span><br>
                        <span><i class="fa fa-map-marker"></i>{{profile.location}}</span>
                    </div>
                <div class="view-profile center col bio">
                    </br>
                    <a class="view-btn btn-success" href="{{ url_for('userprofile',userid=profile.id) }}">View profile</a>
                </div>
            </div>
        {% endfor %}
{% endblock %}