{% extends "base.html" %}

{% block title %}Project1{% endblock %}

{% block css %}
<link href="{{ url_for('static', filename='css/profile.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}


    <div class='top' >
        <h2>Add Profile</h2>
        
    </div>    
    <form id="form" method="POST" enctype="multipart/form-data" action="{{ url_for('profile') }}">
        {{ form.csrf_token }}
        <div class="label">
            {{ form.firstname.label }}</br>
            
            {% for message in form.firstname.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.firstname(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.lastname.label }}</br>
            
            {% for message in form.lastname.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.lastname(class="form-control") }}
        </div>
        
        <div class="label ">
            {{ form.gender.label }}</br>

                  {{form.gender(class="form-control")}}

            {% for message in form.gender.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}

        </div>
        
        <div class="label">
            {{ form.email.label }}</br>
            
            {% for message in form.email.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.email(class="form-control", placeholder="jdoe@example.com") }}
        </div>
        <div class="label">
            {{ form.location.label }}</br>
            
            {% for message in form.location.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.location(class="form-control", placeholder='e.g. Kingston, Jamaica') }}
        </div>
        
        <div class="label">
            {{ form.biography.label }}</br>
            
            {% for message in form.biography.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.biography(class="form-control") }}
        </div>
        
        <div class="label">
            {{ form.photo.label }}</br>
            <label for="photo" type="file" class="browsebtn">Browse...</label>
            {% for message in form.photo.errors %}
                        <div class="alert alert-danger">{{message}}</div>
                    {% endfor %}
            
            {{ form.photo }}
        </div>
        
    <button type="submit" class="btn btn-primary">Add Profile</button>
</form>
{% endblock %}